<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/login/login.css">
    <title>JDI!</title>
</head>

<body>
    <div class="teste">Tela de login</div>
</body>

</html>