<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/login/login.css">
    <title>Just Do It!</title>
</head>

<body>
    
    <div class="tela">
        <img class="shia" src="shia.png" alt="PNG JustDoIt!">
        <div class="container">    
            <form action="/action_page.php">
                <input class="dados" type="text" name="user" value="Login"><br>
                <input class="dados" type="text" name="password" value="Senha"><br>
            <input class="conect" type="submit" value="CONECTAR">
        </div>
    </div>
</body>

</html>