<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>JDI!</title>
</head>

<body>
    <div class="teste">TESTE bootstrap 1.0.2</div>
</body>

</html>