<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>JDI!</title>
</head>

<body>
    <div class="container">TESTE bootstrap 1.0</div>
</body>

</html>