<!DOCTYPE html>
<html>
<head>
    <title>JDI!</title>
    <link rel='stylesheet' href='node_modules/bootstrap/dist/css' />
</head>
<body>
    <div class="container">TESTE</div>
</body>
<script src="node_modules/bootstrap/js"></script>
</html>